* {
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* ##### Header ##### */
div#header {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 32px);
    height: 60px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    transition:
        padding 300ms linear,
        background-color 300ms linear,
        box-shadow 300ms linear,
        height 300ms linear,
        width 300ms linear;
}
div#header h2 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 26px;
    transition: font-size 300ms linear;
}
div#header p {
    color: #FFFFFF;
    font-size: 12px;
    margin: 0;
    width: 180px;
}
div#header p a {
    color: #FF0000;
    text-decoration: none;
}

/* ##### Content ##### */
div#content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 70px;
    margin-top: 0px;
    transition: padding 300ms linear, margin 300ms linear, height 300ms linear;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ##### Content Scrollbar #####*/
div#content::-webkit-scrollbar {
    width: 12px;
}
div#content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
}
div#content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* ##### Item ##### */
div.item {
    width: 180px;
    height: 230px;
    overflow: hidden;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}
div.item:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
div.item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
    -webkit-user-drag: none;
    background-color: rgba(255, 255, 255, 0.8);
}
div.item h3 {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
}
div.item p {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
div.separator {
    width: 100%;
    height: 16px;
}